* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

:root{
    --bg:#0d0f10;
    --bg-2:#000;
    --accent:#12c0c9;
    --text:#ededed;
}   

body {
    font-family: Arial, sans-serif;
}

